# Created by .ignore support plugin (hsz.mobi)

/node_modules/
/.idea/
/package-lock.json
### git template
.idea

~ci.list.txt
~ci.log.txt
~ci.errors.txt

*.stackdump
*.bak
*.old

package-lock.json

test/**/*.js
test/**/*.d.ts
test/*.js
test/*.d.ts
texst/temp
/test/temp*
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
