# Created by .ignore support plugin (hsz.mobi)
/test/
/.idea/
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen### npm template
.idea

~ci.list.txt
~ci.log.txt
~ci.errors.txt

*.stackdump
*.bak
*.old

tsconfig.json
#package-lock.json

test
tests

.github
.gitkeep

/.*

*.iml

*.ts
!*.d.ts
